*{
         padding: 0;
         margin: 0;
         box-sizing: border-box;
}

body{
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         row-gap: 100px;
         padding: 150px;
         background-color: #b46f6f;
}

.box{
         border: 2px solid black;
         background-color: #c98e8e;
         padding: 14px;
         border-radius: 20px;
}

h1{
         font-size: 3rem;
}
p{
         font-size: 2.5rem;
}
button{
         background-color: transparent;
         padding: 11px;
         font-size: 1rem;
         border-radius: 10px;
         cursor: pointer;
         border: 2px solid black;
         font-size: 1rem;
         font-weight: 800;
}